* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  height: 72px;
  width: auto;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: 'Sarala', sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 18px;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', sans-serif;
  font-size: 64px;
  font-weight: 400;
  color: #fff2e7;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #ecd6c4;
}

.conteudo-principal-escrito-botao {
  font-family: 'Sarala', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #2f2325;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  width: 190px;
  height: 70px;
  border-radius: 20px;
  background-color: #ecd6c4;
}

.conteudo-principal-escrito-botao:hover {
  cursor: pointer;
  background-color: rgba(236, 214, 196, 0.53);
  transition: 0.7s;
}

.conteudo-principal-imagem {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: Righteous;
  font-size: 24px;
  font-weight: 400;
  color: #fff2e7;
  margin-bottom: 16px;
}

.conteudo-secundario-texto {
  font-family: 'Sarala';
  font-weight: 400;
  size: 18px;
  color: #ecd6c4;
}

.rodape {
  border-top: 0.4px solid #fff2e7;
  padding: 32px;
}

.rodape-imagem {
  height: 48px;
  display: block;
  margin: 0 auto;
}
